---
layout: dummy_page
title: "Careers at rOpenSci"
---
{% include header.html %}
<section class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

  <h2>Careers at rOpenSci</h2>
   <p>
 
  Our team is made up of highly motivated and independent scientists with a passion for open data reproducible research. We are constantly striving to improve the research software landscape and support a thriving and welcoming community. Join us in changing science for the better. Various job postings will be open soon.
  <br>
  <br>


  <b>Open Positions</b>
  <ul>
   <li><a href="http://ropensci.org/blog/2016/03/10/community-manager-position">Community manager</a></li>
  </ul>
   </p>






<div class="row">
    <div class="row row-offcanvas row-offcanvas-left">


      <div class="col-sm-9">


      </div>

</div>
  </div>

</section>
{% include footer.html %}
