# ignore font files
# -----------------
*.psd
*.ttf
*.eot
*.woff

_site
internal_notes.md
ngrok
.DS_Store
Makefile
_posts/cache
# More ignore files
# Then add to gitignore
assets/flat-ui/fonts
assets/flat-ui/css/flat-ui.css
assets/flat-ui/lato
assets/css
assets/common-files/css
assets/common-files/fonts
assets/common-files/icons
assets/common-files/less
assets/common-files/talks
talks/

packages/copybuttontesting.html
roweb.Rproj
.Rproj.user

_drafts/databases_diagram
_drafts/databases_diagram.key
