---
layout: dummy_page
title: "rOpenSci - Contact"
---
{% include header_with_chat.html %}
    <section class="contacts-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>We would love to hear from you. <br></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">

<div id="wufoo-z1svsu3102z55cs">
<!-- Fill out my <a href="https://ropensci.wufoo.com/forms/z1svsu3102z55cs">online form</a>. -->
</div>
<!-- Change the width and height values to suit you best -->
<!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://ropensci.typeform.com/to/yHUkbl" data-text="Contact rOpenSci" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>


            </div>

            <div class="col-sm-4 col-sm-offset-1">
                <div class="additional">
                    <h6>Need Help?</h6>
                    <p>Please don't hestitate to ask us any R, scientific data, API or packaging related questions. Email us directly <a href="mailto:info@ropensci.org">info@ropensci.org</a> or find us most times of the day on chat below. If you are reaching out to contribute to our efforts, please check out the <a href="community/#join-us">community page.</a></p>
                </div>
                <div class="additional">
                    <h6>FAQ</h6>
                    <p>If this is a bug related to a package, please file an issue on the <a href="https://github.com/ropensci">appropriate GitHub repo.</a>. You are also welcome to post to our <a href="http://discuss.ropensci.org/" title="rOpenSci Discuss">discuss board</a> if you think this matter would benefit from broader exposure.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start footer below -->

{% include footer.html %}
