---
layout: dummy_page
title: "rOpenSci - Contact"
---
{% include header_with_chat.html %}
    <section class="contacts-1">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3>We would love to hear from you. <br></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
    <div id="wufoo-z7x3x5">
        Fill out my <a href="http://ropensci.wufoo.com/forms/z7x3x5">online form</a>.
        </div>
        <script type="text/javascript">var z7x3x5;(function(d, t) {
        var s = d.createElement(t), options = {
        'userName':'ropensci',
        'formHash':'z7x3x5',
        'autoResize':true,
        'height':'577',
        'async':true,
        'header':'show'};
        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
        s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { z7x3x5 = new WufooForm();z7x3x5.initialize(options);z7x3x5.display(); } catch (e) {}};
        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
        })(document, 'script');</script>
            </div>

            <div class="col-sm-4 col-sm-offset-1">
                <div class="additional">
                    <h6>Need Help?</h6>
                    <p>Please don't hestitate to ask us any R, scientific data, API or packaging related questions. Email us directly <a href="mailto:info@ropensci.org">info@ropensci.org</a> or find us most times of the day on chat below. If you are reaching out to contribute to our efforts, please check out the <a href="community/#join-us">community page.</a></p>
                </div>
                <div class="additional">
                    <h6>FAQ</h6>
                    <p>If this is a bug related to a package, please file an issue on the <a href="https://github.com/ropensci">appropriate github repo.</a> (just search for the right repo and click issues > New on the right).</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start footer below -->

{% include footer.html %}
