---
layout: dummy_page
title: "rOpenSci 2017 fellowship FAQ"
---
{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
            <h3>Fellowship FAQ</h3>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <p>This FAQ is based on a handful of questions we've received about the upcoming fellowship program.</p>
              <br><br>

<p><b>Q: Can applicants submit multiple proposals with the same PI and institutional affiliation to the rOpenSci Fellowships Program?</b></p>
<br>

<p>A: Yes.</p>
<b>
<br><br>
 
<p><b>Q: Given the foundation's wider goals do you expect applicants to be using R, or is this quite general?</b></p>

<p>A: The aims of the fellowship are quite broad and not restricted to R or any other scientific programming language. Several important issues in open science such as challenges around open data, data privacy, and software licensing are fellowship appropriate topics and are not limited to any language.</p>

<br><br>

<p><b>Q: Are the rOpenSci fellowship funds awarded to the Fellow’s research institution?</b></p>

<p>A: Yes. Once we have short listed applications, we will reach out for a detailed budget and work with the PIs to discuss and cover the necessary overheads.</p>

<br><br><br>

<p><i>If any of your question are not addressed on this page, please email fellowships at ropensci dot org before the September 1, 2017 deadline.</i></p>

 </div>
        </div>
    </div>

</section>
{% include footer.html %}
