---
layout: dummy_page
title: "rOpenSci - Open Tools for Open Science"
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="assets/flat-ui/images/favicon.ico">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://ropensci.org/feed.xml" />

        <link rel="stylesheet" href="assets/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="assets/flat-ui/css/flat-ui.css">

        <link rel="stylesheet" href="assets/common-files/css/icon-font.css">
        <link rel="stylesheet" href="assets/common-files/css/animations.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link href="{{ site.url }}/assets/css/ss-social/webfonts/ss-social.css" rel="stylesheet" />
        <script type="text/javascript" src="//use.typekit.net/djn7rbd.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <title>rOpenSci - Open Tools for Open Science</title>

    </head>

    <body>

<div class="page-wrapper"><header class="header-10">
    <!-- This is the navbar -->
{% include navbar.html %}
    <!-- end navbar above -->
    <div class="header-background"></div>
</header>
<!-- Everything from top till here should go in top header.template -->
<section class="header-10-sub v-center" id="hero">
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="hero-unit hero-unit-bordered">
                <h1>Transforming science through open data</h1>

            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section><section class="content-15 v-center bg-cloud" id="changingscience">
    <div>

        <div class="container">
            <div class="row">

                <img src="assets/common-files/img/header/Flask.png"><h3 class="col-sm-10 col-sm-offset-1">We are changing how science works
                </h3>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p>At rOpenSci we are creating packages that allow access to data repositories through the <a href="http://www.r-project.org/" title="The R Project for Statistical Computing">R statistical programming environment</a> that is already a familiar part of the workflow of many scientists. Our tools not only facilitate drawing data into an environment where it can readily be manipulated, but also one in which those analyses and methods can be easily shared, replicated, and extended by other researchers.
                    </p>
                </div>
                <div class="col-sm-6">
                    <p>We develop open source R packages that provide programmatic access to a variety of scientific data, full-text of journal articles, and repositories that provide real-time metrics of scholarly impact. Visit our <a href="{{ site.url }}/packages/index.html" title="rOpenSci - rOpenSci Packages">packages section</a> for a full list of production and development versions of packages.
                    </p>
                </div>
            </div>
            <div class="row features">
                <div class="col-sm-7">
                    <img src="assets/common-files/img/content/screen-2@2x.png" width="540" height="441" alt="">
                </div>
                <div class="col-sm-4 col-sm-offset-1">
                    <h6>End to end reproducibility</h6>

                    <p>Use our packages to acquire data (both your own and from various data sources), analyze it, add in your narrative, and generate a final publication in any one of widely used formats such as Word, PDF, or LaTeX. Combine our tools with the rich ecosystem of existing R packages.</p>

                </div>
            </div>
        </div>
    </div>
</section><section class="projects-3 bg-belize-hole" id="bigpic">
    <div class="container">
        <h3>Here are a few things you can do with our packages<br></h3>

        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="assets/common-files/img/projects/img-2.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Access a vast trove of scientific data</div>
                        Our packages provide access to more than 400 million museum records, data from more than 200 journals, 100k full text articles and so much more.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="assets/common-files/img/projects/img-3.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Interactive data analysis and visualization</div>
                        Analyze your data with interactive plots, easily generate dynamics maps for any type of geospatial data.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="assets/common-files/img/projects/img-4.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Document and share your data</div>
                        Use our tools to quickly document and deposit your data in a variety of permanent repositories including <a href="http://figshare.com/" title="figshare - credit for all your research">figshare</a>, <a href="http://www.dataone.org/">DataONE</a> and more.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section><section class="content-9 bg-clouds" id="docs">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Documentation</h3>

                <p>Dive into detailed tutorials for our packages, look through various use-cases, or submit some of your own!
                </p>

                <div class="row">
                    <div class="col-sm-6 info">
                        <h6>User Guide</h6>
                        Quickly get up to speed with easy to follow tutorials on our <a href="packages/">packages</a>.
                    </div>
                    <div class="col-sm-6 info">
                        <h6>Video Tutorials</h6>
                        No time to install and run some code? Watch video walk throughs of our packages and try out the code at a later time. Check out how to use <a href="https://vimeo.com/92883063">Taxize</a>. We're quickly making more.
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 hidden-xs">
                <img src="assets/common-files/icons/browser-iphone@2x.png" width="400" height="400" alt="">
            </div>
        </div>
    </div>
</section><section class="content-23 bg-midnight-blue">
	<div class="holder v-center">
		<div>
		    <div class="container">
		        <div class="hero-unit hero-unit-bordered">
<span class="text-block" style="-webkit-filter:blur(1px);filter:blur(1px);"><h1>rOpenSci is all about community. <a href="community/">Join us!</a></h1></span>
		        </div>
		    </div>
		</div>
	</div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section><section class="content-12">
    <a class="wide btn-wide" href="{{ site.url }}/blog/2014/06/10/new-sloan-award/"><b>Made with support from the Sloan Foundation <img src="assets/common-files/img/header/sloan.png"></a>
</section>


  {% include footer.html %}
