
---
layout: dummy_page
title: "rOpenSci - Related Packages"
---
{% include header.html %}

<section class="blog-3">
    <div class="container">
        <div class="title">
            <img src="assets/common-files/img/content/blog_header_logo.png" alt="">
            <h3>Related Packages</h3>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
 
            Related Packages page
            </div>

        </div>
    </div>

</section>
{% include footer.html %}