---
layout: dummy_page
title: "rOpenSci Resources"
---
{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
            <h3>Resources</h3>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
             <p>This page is a growing collection of resources we've put together for the commmunity. We are still populating this page but we'll post more slides (including a general purpose deck that anyone can use to talk about our project), contribution guidelines and more. If you have ideas for what you'd like to see here, <a href="{{ site.url }}/contact.html" title="rOpenSci - Contact">please drop us a note</a>.</p> 

            <h3>Talks</h3>

          <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
              <a href="http://ropensci.org/talks/geolunch"><img src="{{ site.url }}/assets/resources-img/geolunch.png" alt="" /></a>
              <div class="carousel-caption">
                  <h4>rOpenSci overview</h4>
                  <p>These are slides from a talk by Karthik Ram at UC Berkeley's geolunch, December 2013</p>
                </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>



            <h3>Publications</h3>
                 <div class="row">
        <ul>
          <li>
            Carl Boettiger, Duncan Temple Lang, Peter Wainwright (2012). <strong>rfishbase: exploring, manipulating and visualizing FishBase data from R.</strong> <em>Journal of Fish Biology</em> doi:10.1111/j.1095-8649.2012.03464.x <a href="http://dx.doi.org/10.1111/j.1095-8649.2012.03464.x"><i class="ss-icon ss-link"></i></a>, <a href="http://www.carlboettiger.info/assets/files/rfishbase.pdf"><i class="ss-icon ss-file"></i></a>
          </li>
          <li>
            Boettiger, C., Temple Lang, D. (2012), <strong>Treebase: an R package for discovery, access and manipulation of online phylogenies</strong>. <em>Methods in Ecology and Evolution</em>. doi: 10.1111/j.2041-210X.2012.00247.x <a href="http://onlinelibrary.wiley.com/doi/10.1111/j.2041-210X.2012.00247.x/abstract;jsessionid=4F4B62144B65684D47A36C23B7CEA719.d04t03"><i class="ss-icon ss-link"></i></a>, <a href="http://ropensci.org/files/treebase.pdf"><i class="ss-icon ss-file"></i></a>
          </li>
          <li>
            Chamberlain SA, Szöcs E. (2013) <strong>taxize: taxonomic search and retrieval in R</strong> [v2; ref status: indexed, http://f1000r.es/24v] <em>F1000Research</em> 2013, 2:191 (doi: 10.12688/f1000research.2-191.v2) <a href="http://f1000research.com/articles/2-191/v2"<i class="ss-icon ss-link"></a></i>, <a href="http://ropensci.org/files/taxize.pdf"><i class="ss-icon ss-file"></i></a>
          </li>
        </ul>
  </div>
 <br><br>
  <!-- End rOpenSci Publications -->




            </div>
        </div>
    </div>

</section>
{% include footer.html %}