---
layout: dummy_page
title: "rOpenSci - Ambassador Program"
---
 {% include header_with_chat.html %}
<section class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

    <h2>rOpenSci Ambassadors</h2>
     <p>To facilitate more discussion about rOpenSci tools and projects, we like to support our community members in running small workshops (perhaps a lunch time event), talks (lightning or longer talk at the next conference you attend),  hands on tutorials (for your grad department, seminar), or similar event.</p>

  <p><strong>What the program entails</strong></p>

  <p>The rOpenSci team will provide you with as much training material as you need (including notes and code), advice on structuring your discussion, guide to building a workshop slide deck and perhaps most importantly, funds to cover refreshments (coffee and snacks, or lunch), or some travel support to help you attend a meeting.</p>

  <p><strong>Why become an ambassador</strong></p>

<ul>
<li>A shiny Ambassador badge for you on our community page (and one you can use elsewhere).</li>
<li>Have refreshments on us when you give a demo or talk at your institution or we&#39;ll support travel (within reason) to a meeting.</li>
<li>Free schwag. Currently only stickers but hopefully more.</li>
<li>Satisfaction that you&#39;re playing an important role in supporting open science. </li>
</ul>

<p><strong>Resources</strong></p>

At this time we provide a ready to use <a href="https://github.com/ropensci/ropensci_intro" title="ropensci/ropensci_intro Âˇ GitHub">slide deck for a lightning talk</a> (could also work for a slightly longer thunder talk) and a <a href="https://github.com/ropensci/ambassador-packet" title="ropensci/ambassador-packet Âˇ GitHub">larger one with slide decks</a> in various formats (including a html deck, PowerPoint, Keynote, and PDF). Additions to both repos are most welcome.


    <center><a href="http://ropensci.org/contact.html"><button class="btn btn-lg btn-primary btn-block">Apply to become an ambassador</button></a></center>

{% include footer.html %}
