
<footer class="footer-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div><a class="brand" href="{{ site.url }}/">rOpenSci</a></div>
            </div>
            <nav>
                <div class="col-sm-2">
                    <h6>About</h6>
                    <ul>
                        <li><a href="{{ site.url }}/about/">About Us</a></li>
                        <li><a href="{{ site.url }}/about/#core">Core team</a></li>
                        <li><a href="{{ site.url }}/about/#advisors">Advisory board</a></li>
                        <li><a href="{{ site.url }}/community/#community">rOpenSci Community</a></li>
                        <li><a href="{{ site.url }}/community/#join-us">Contribute</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Work</h6>
                    <ul>
                        <li><a href="{{ site.url }}/packages/">R Packages</a></li>
                        <li><a href="{{ site.url }}/blog/">Blog</a></li>
                        <li><a href="{{ site.url }}/tutorials.html">Tutorials</a></li>
                        <li><a href="{{ site.url }}/use-cases.html">Use cases</a></li>
                        <li><a href="{{ site.url }}/resources.html">Resources</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Other</h6>
                    <ul>
                        <li><a href="{{ site.url }}/contact.html">Contact</a></li>
                         <li><a href="{{ site.url }}/events.html">Events</a></li>
                         <li><a href="{{ site.url }}/related_links.html">Related links</a></li>
                        <li><a href="/https://github.com/ropensci">GitHub Org</a></li>
                    </ul>
                </div>
            </nav>
            <div class="col-sm-3">
                <h6>Subscribe</h6>
                 <!-- start form -->
                <form action="http://ropensci.us7.list-manage1.com/subscribe/post?u=c5de56320aeac3ee7cc954ec2&amp;id=d78520d99e" method="post" class="validate" target="_blank">
                    <div class="input-group">
                        <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Email Address" autocapitalize="off" autocorrect="off" class="form-control" required>
                        <span class="input-group-btn">
                        <button class="btn" type="submit" value="go" type="image">
                            <span class="fui-arrow-right"> </span>
                        </button>
                        </span>
                    </div>
                </form>
                <!-- end form -->
                <div class="social-btns">
                    <a href="http://gplus.to/ropensci">
                        <div class="fui-googleplus"></div>
                        <div class="fui-googleplus"></div>
                    </a>
                    <a href="http://twitter.com/ropensci">
                        <div class="fui-twitter"></div>
                        <div class="fui-twitter"></div>
                    </a>
                    <a href="https://vimeo.com/91344060">
                        <div class="fui-vimeo"></div>
                        <div class="fui-vimeo"></div>
                    </a>
                   
                </div>
            </div>
        </div>
        <div class="row"><p>© rOpenSci, 2014 </p></div>
    </div>
</footer>            
<!-- Here ends the footer -->


    {% include javascript.html %}
    {% include analytics.html %}

        </div>
    </body>
</html>
