<!-- Main page starts here -->
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="apple-mobile-web-app-status-bar-style" content="black" />
      <link rel="shortcut icon" href="{{ site.url }}/assets/flat-ui/images/favicon.ico">

      <link rel="alternate" type="application/rss+xml" title="RSS" href="http://ropensci.org/feed.xml" />

      <link rel="stylesheet" href="{{ site.url }}/assets/flat-ui/bootstrap/css/bootstrap.css">
      <link rel="stylesheet" href="{{ site.url }}/assets/flat-ui/css/flat-ui.css">

      <link rel="stylesheet" href="{{ site.url }}/assets/common-files/css/icon-font.css">
      <link rel="stylesheet" href="{{ site.url }}/assets/common-files/css/animations.css">
      <link rel="stylesheet" href="{{ site.url }}/static/css/style.css">
      <link href="{{ site.url }}/assets/css/ss-social/webfonts/ss-social.css" rel="stylesheet" />
      <link href="{{ site.url }}/assets/css/ss-standard/webfonts/ss-standard.css" rel="stylesheet"/>
      <link rel="stylesheet" href="{{ site.url }}/static/css/github.css">
      <script type="text/javascript" src="//use.typekit.net/djn7rbd.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
      <script src="{{ site.url }}/static/highlight.pack.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>

      <title>{{ page.title }}</title>

    </head>

    <body>

<div class="page-wrapper">
<header class="header-maps">
<!-- This is the navbar -->
<div class="container">
    <div class="row">

        <div class="navbar col-sm-12" role="navigation">
            <div class="navbar-header navlogo">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="{{ site.url }}/"><img src="{{ site.url }}/assets/common-files/img/header/nav_small.png"></a>
            </div>
            <div class="collapse navbar-collapse pull-right">
                <ul class="nav pull-left">
                    <li><a href="{{ site.url }}/">HOME</a></li>
                    <li><a href="{{ site.url }}/blog/">BLOG</a></li>
                    <li><a href="{{ site.url }}/packages/">PACKAGES</a></li>
                    <li><a href="{{ site.url }}/community">COMMUNITY</a></li>
                    <li><a href="{{ site.url }}/contact.html">CONTACT</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- end navbar above -->
<div class="header-background"></div>
</header>
