
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="{{ site.url }}/assets/flat-ui/images/favicon.ico">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="http://ropensci.org/feed.xml" />

        <link rel="stylesheet" href="{{ site.url }}/assets/flat-ui/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/flat-ui/css/flat-ui.css">

        <link rel="stylesheet" href="{{ site.url }}/assets/common-files/css/icon-font.css">
        <link rel="stylesheet" href="{{ site.url }}/assets/common-files/css/animations.css">
        <link rel="stylesheet" href="{{ site.url }}/static/css/style.css">
        <link href="{{ site.url }}/assets/css/ss-social/webfonts/ss-social.css" rel="stylesheet" />
        <link href="{{ site.url }}/assets/css/ss-standard/webfonts/ss-standard.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ site.url }}/static/css/github.css">
        <script type="text/javascript" src="//use.typekit.net/djn7rbd.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        <script src="{{ site.url }}/static/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>

        <title>{{ page.title }}</title>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
$.src='//v2.zopim.com/?1NqqyR2KY8mFlHqNZfXwPsOKso6b8c1k';z.t=+new Date;$.
type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
</script>
<!--End of Zopim Live Chat Script-->
    </head>

    <body>

<div class="page-wrapper">

<header class="header-10">
{% include navbar.html %}
<div class="header-background"></div>
</header>
