
    <div class="container">
        <div class="row">

            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header navlogo">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="{{ site.baseurl }}"><img src="{{ site.url }}/assets/common-files/img/header/nav_small.png"></a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="{{ site.url }}/">HOME</a></li>
                        <li><a href="{{ site.url }}/blog.html">BLOG</a></li>
                        <li><a href="{{ site.url }}/packages.html">PACKAGES</a></li>
                        <li><a href="{{ site.url }}/community/">COMMUNITY</a></li>
                        <li><a href="{{ site.url }}/contact.html">CONTACT</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>