
<div class="row">
	<p><h1>{{ page.title }}</h1></p>	
	<div class="span4 column">
		<h4><strong>{{ page.date | date: "%B %e, %Y" }} <small> <a href="http://ropensci.org/{{ page.url }}#disqus_thread">Comments</a></small></strong>
		<br/><small>Tags: {% for tag in page.tags %} <a href="/tags/{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;"><u>{{ tag }}</u></a>  {% if forloop.last != true %} {% endif %} {% endfor %} </small></h4>
	</div>		
	<div class="span8 column">
		<p class="pull-right">{% if page.previous.url %} <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="icon-chevron-left"></i></a> 	{% endif %}   {% if page.next.url %} 	<a href="{{page.next.url}}" title="Next Post: {{page.next.title}}"><i class="icon-chevron-right"></i></a> 	{% endif %} </p> 
	</div>
</div>

<div class="row">
	<div class="span12 column">
		<hr>
	</div>
</div>
