---
layout: dummy_page
title: "2017 rOpenSci Fellowships"
---
{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
            <h3>2017 Fellowships are now closed</h3>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>The 2017 call for fellowships are now closed. Please stay tuned for further announcements on the blog.</a></p>


            </div>
        </div>
    </div>

</section>
{% include footer.html %}
