<!DOCTYPE html>
<head>
  <title>A minimal knitr example in HTML</title>
</head>
<body>
  
<!--begin.rcode foo, eval=FALSE
library(rWBclimate)
eu_basin <- create_map_df(Eur_basin)
eu_basin_dat <- get_ensemble_temp(Eur_basin, "annualanom", 2080, 2100)
end.rcode-->
    
</body>
</html>