---
layout: dummy_page
title: "rOpenSci turorials"
---

{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
        <h3>Tutorials</h3>
        <p>Need a detailed walk through of what our packages allow you to do? Click on a package below, quickly install it and follow along. We're in the process of updating existing package tutorials and adding several more in the coming weeks. If you find any bugs or have comments, drop a note in the comments section or <a href="{{ site.url }}/contact.html">send us an email.</a> If a tutorial is available in multiple languages we indicate that with badges, e.g., <button type="button" class="btn btn-success btn-xs">EN</button> (English) <button type="button" class="btn btn-info btn-xs">PT</button> (Português).</p><br>
 <ul>
   <li><a href="/tutorials/alm_tutorial.html">alm</a></li>
   <li><a href="/tutorials/antweb_tutorial.html">antweb</a></li>
   <li><a href="/tutorials/arxiv_tutorial.html">aRxiv</a></li>
   <li><a href="/tutorials/bold_tutorial.html">bold</a></li>
   <li><a href="/tutorials/ecoengine_tutorial.html">ecoengine</a></li>
   <li><a href="/tutorials/ecoretriever_tutorial.html">ecoretriever</a></li>
   <li><a href="/tutorials/elastic_tutorial.html">elastic</a></li>
   <li><a href="/tutorials/gistr_tutorial.html">gistr</a></li>
   <li><a href="/tutorials/musemeta_tutorial.html">musemeta</a></li>
   <li><a href="/tutorials/rAltmetric_tutorial.html">rAltmetric</a></li>
   <li><a href="/tutorials/rbison_tutorial.html">rbison</a></li>
   <li><a href="/tutorials/rcrossref_tutorial.html">rcrossref</a></li>
   <li><a href="/tutorials/rebird_tutorial.html">rebird</a></li>
   <li><a href="/tutorials/rentrez_tutorial.html">rentrez</a></li>
   <li><a href="/tutorials/rfisheries_tutorial.html">rfisheries</a></li>
   <li><a href="/tutorials/rgauges_tutorial.html">rgauges</a></l>
   <li><a href="/tutorials/rgbif_tutorial.html">rgbif</a></li>
   <li><a href="/tutorials/rinat_tutorial.html">rinat</a></li>
   <li><a href="/tutorials/rnexml_tutorial.html">RNeXML</a></li>
   <li><a href="/tutorials/rnoaa_tutorial.html">rnoaa</a></li>
   <li><a href="/tutorials/rplos_tutorial.html">rplos</a></li>
   <li><a href="/tutorials/rsnps_tutorial.html">rsnps</a></li>
   <li><a href="/tutorials/rvertnet_tutorial.html">rvertnet</a></li>
   <li><a href="/tutorials/rwbclimate_tutorial.html">rWBclimate</a></li>
   <li><a href="/tutorials/solr_tutorial.html">solr</a></li>
   <li><a href="/tutorials/spocc_tutorial.html">spocc</a></li>
   <li><a href="/tutorials/taxize.html">taxize</a></li>
   <li>treebase
   <!-- <a href="/tutorials/treebase_tutorial.html"><span class="label label-success">en</span></a> &nbsp; <a href="/tutorials/treebase_tutorial_pt.html"><span class="label label-info">pt</span></a> <a href="/tutorials/treebase_tutorial_pt.html" role="button" class="btn btn-info btn-sm active">pt</a> -->
   <a href="/tutorials/treebase_tutorial.html"><button type="button" class="btn btn-success btn-xs">EN</button></a> &nbsp;
   <a href="/tutorials/treebase_tutorial_pt.html"><button type="button" class="btn btn-info btn-xs">PT</button></a>
   </li>
   <li>More tutorials on the way.</li>
 </ul>
</div>
  </div>
    </div>

</section>
{% include footer.html %}
