---
layout: dummy_page
title: "rOpenSci turorials"
---

{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
        <h3>Tutorials</h3>
        <p>Need a detailed walk through of what our packages allow you to do? Click on a package below, quickly install it and follow along. We're in the process of updating existing package tutorials and adding several more in the coming weeks. If you find any bugs or have comments, drop a note in the comments section or <a href="{{ site.url }}/contact.html">send us an email.</a></p><br>
 <ul>
   <li><a href="/tutorials/taxize_tutorial.html">taxize tutorial</a></li>
   <li><a href="/tutorials/alm_tutorial.html">alm tutorial</a></li>
   <li><a href="/tutorials/rplos_tutorial.html">rplos tutorial</a></li>
   <li>More tutorials on the way.</li>
 </ul>
</div>
  </div>
    </div>

</section>
{% include footer.html %}
