---
layout: dummy_page
title: "rOpenSci turorials"
---

{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
        <h3>Tutorials</h3>
        <p>Need a detailed walk through of what our packages allow you to do? Click on a package below, quickly install it and follow along. We're in the process of updating existing package tutorials and adding several more in the coming weeks. If you find any bugs or have comments, drop a note in the comments section or <a href="{{ site.url }}/contact.html">send us an email.</a> If a tutorial is available in multiple languages we indicate that with badges, e.g., <button type="button" class="btn btn-success btn-xs">EN</button> (English) <button type="button" class="btn btn-info btn-xs">PT</button> (Português).</p><br>
 <ul>
   <li><a href="/tutorials/alm_tutorial.html">alm</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Article-level metrics</small></li>
   <li><a href="/tutorials/antweb_tutorial.html">antweb</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">AntWeb data</small></li>
   <li><a href="/tutorials/arxiv_tutorial.html">aRxiv</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Access to arXiv text</small></li>
   <li><a href="/tutorials/bold_tutorial.html">bold</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Barcode data</small></li>
   <li><a href="/tutorials/ecoengine_tutorial.html">ecoengine</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Biodiversity data</small></li>
   <li><a href="/tutorials/ecoretriever_tutorial.html">ecoretriever</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Retrieve ecological datasets</small></li>
   <li><a href="/tutorials/elastic_tutorial.html">elastic</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Elasticsearch R client</small></li>
   <li><a href="/tutorials/fulltext_tutorial.html">fulltext</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Text mining client</small></li>
   <li><a href="/tutorials/geojsonio_tutorial.html">geojsonio</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">GeoJSON/TopoJSON I/O</small></li>
   <li><a href="/tutorials/gistr_tutorial.html">gistr</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Work w/ GitHub Gists</small></li>
   <li><a href="/tutorials/internetarchive_tutorial.html">internetarchive</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Internet Archive client</small></li>
   <li><a href="/tutorials/lawn_tutorial.html">lawn</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Geospatial Analysis</small></li>
   <li><a href="/tutorials/musemeta_tutorial.html">musemeta</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Scrape museum metadata</small></li>
   <li><a href="/tutorials/rAltmetric_tutorial.html">rAltmetric</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Altmetric.com client</small></li>
   <li><a href="/tutorials/rbison_tutorial.html">rbison</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Biodiversity data from USGS</small></li>
   <li><a href="/tutorials/rcrossref_tutorial.html">rcrossref</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Crossref client</small></li>
   <li><a href="/tutorials/rebird_tutorial.html">rebird</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">eBird client</small></li>
   <li><a href="/tutorials/rentrez_tutorial.html">rentrez</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Entrez client</small></li>
   <li><a href="/tutorials/rerddap_tutorial.html">rerddap</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">ERDDAP client</small></li>
   <li><a href="/tutorials/rfisheries_tutorial.html">rfisheries</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">OpenFisheries.org client</small></li>
   <li><a href="/tutorials/rgauges_tutorial.html">rgauges</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Gaug.es client</small></li>
   <li><a href="/tutorials/rgbif_tutorial.html">rgbif</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">GBIF biodiversity data</small></li>
   <li><a href="/tutorials/rinat_tutorial.html">rinat</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Inaturalist data</small></li>
   <li><a href="/tutorials/rnexml_tutorial.html">RNeXML</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Create/consume NeXML</small></li>
   <li><a href="/tutorials/rnoaa_tutorial.html">rnoaa</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Client for many NOAA datasets</small></li>
   <li><a href="/tutorials/rplos_tutorial.html">rplos</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">PLOS text mining</small></li>
   <li><a href="/tutorials/rsnps_tutorial.html">rsnps</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">SNP data access</small></li>
   <li><a href="/tutorials/rvertnet_tutorial.html">rvertnet</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">VertNet.org biodiversity data</small></li>
   <li><a href="/tutorials/rwbclimate_tutorial.html">rWBclimate</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">World Bank Climate data</small></li>
   <li><a href="/tutorials/solr_tutorial.html">solr</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">SOLR database client</small></li>
   <li><a href="/tutorials/spocc_tutorial.html">spocc</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Biodiversity data one stop shop</small></li>
   <li><a href="/tutorials/taxize.html">taxize</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Taxonomic toolbelt</small></li>
   <li><a href="/tutorials/traits_tutorial.html">traits</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Trait data</small></li>
   <li>treebase
   <!-- <a href="/tutorials/treebase_tutorial.html"><span class="label label-success">en</span></a> &nbsp; <a href="/tutorials/treebase_tutorial_pt.html"><span class="label label-info">pt</span></a> <a href="/tutorials/treebase_tutorial_pt.html" role="button" class="btn btn-info btn-sm active">pt</a> -->
   <a href="/tutorials/treebase_tutorial.html"><button type="button" class="btn btn-success btn-xs">EN</button></a> &nbsp;
   <a href="/tutorials/treebase_tutorial_pt.html"><button type="button" class="btn btn-info btn-xs">PT</button></a>
   &nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Treebase data</small>
   </li>
   <li><a href="/tutorials/wellknown_tutorial.html">wellknown</a>&nbsp;&nbsp;&nbsp;&nbsp;<small style="color:#DDDDDD">Well-known text <-> GeoJSON</small></li>
   <li>More tutorials on the way.</li>
 </ul>
</div>
  </div>
    </div>

</section>
{% include footer.html %}
