---
title: "taxize tutorials"
layout: dummy_page
---

{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
        <h3>taxize tutorials</h3>
        <a class="btn btn-success btn-lg btn-block" type="button" href="taxize_v04.html">taxize v0.4 tutorial</a>
				<br>
				<a class="btn btn-success btn-lg btn-block" type="button" href="taxize_v05.html">taxize v0.5 tutorial</a>
</div>
  </div>
    </div>

</section>
{% include footer.html %}
