---
layout: dummy_page
title: "rOpenSci About"
---
{% include header.html %}
<section class="blog-3">

    <div class="container">
        <div class="row">
            <section class="crew-3  col-sm-8  col-sm-offset-2">
                <h3>What is Open Science</h3>
                <p>Open science is the practice of making various elements of scientific research -- data & methods, code & software, and results & publications -- readily accessible to anyone. While this has great potential for advancing research (in addition to education, public policy, & commercial innovation) as a whole, there are both technical and social challenges preventing this practice from being more widespread. Social challenges stem largely from the dichotomy between what is best for an individual researcher and what is best for the community. Technical challenges arise largely from issues of scale: putting free print copies of DNA sequencing data in a box in front of your office doesn't scale as well as depositing those sequences on repositories like GenBANK.</p>

                <h3>Why does open science need tools?</h3>

                <p>Our goal is to provide open-source tools to help address both these challenges. These are interesting times. The technology to facilitate the access and utilization of this data has never been better, yet it is only beginning to be employed. The internet -- firmly in its second generation, the read-write Web 2.0 culture in which users generate content as readily as they consume it -- has led to the explosion of mechanisms for sharing. Yet these tools are not widely leveraged in scientific communities (<a href="http://www.nature.com/nm/journal/v13/n11/full/nm1107-1276b.html">Coombes et. al. 2007</a>).</p>

                <h3>Why R for open science?</h3>

                <p>R is an open-source statistical environment that can be used for not only statistics, but also for data acquisition, data manipulation, modeling, among other uses. R is increasingly being used by scientists across all disciplines and has overtaken popular scientific programming tools. Part of the reason behind R's explosive growth is the ease with which the ever-growing userbase can add new functionality, a fact evidenced by 3,000+ currently available R packages. The R framework is ideal for open science because:</p>

                <ul>
                    <li>The software is free.</li>
                    <li>There is an extensive user community from which help is very quickly given, and</li>
                    <li>The scientific workflow can be documented for fully reproducible research.</li>
                </ul>
             </section>
          </div>
    </div>


    <div class="container">
        <div class="row">
            <section class="crew-3 col-sm-8" id="core">
    <div class="container">
        <h3>Leadership team</h3>

        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(/assets/common-files/img/people/karthik_ram.jpg);"><img src="/assets/common-files/img/people/karthik_ram.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Karthik Ram</div>
                        <a href="http://karthik.io/" title="Karthik Ram">Karthik</a> is a quantitative ecologist at the <a href="http://globalchange.berkeley.edu/" title="BiGCB |">Berkeley Initiative for Global Change Biology (BigCB)</a> and a data science fellow at the Berkeley Institute for Data Science (BIDS). He is broadly interested in the structure and dynamics of food webs in terrestrial systems and (very occasionally) blogs at <a href="http://inundata.org/" title="Inundata">Inundata</a>.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(/assets/common-files/img/people/scott.png);"><img src="/assets/common-files/img/people/scott.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Scott Chamberlain</div>
                        <a href="http://scottchamberlain.info/" title="Scott Chamberlain, developer / ecologist">Scott</a> is at the Museum of Paleontology at UC Berkeley, interested in topics ranging from comparative phylogenetics to interaction networks. He blogs at <a href="http://recology.info/">Recology</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url(/assets/common-files/img/people/carl.jpg);"><img src="/assets/common-files/img/people/carl.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Carl Boettiger</div>
                        <a href="http://www.carlboettiger.info/" title="Carl Boettiger">Carl</a> is a theorist in ecology & evolution at UC Santa Cruz, working on forecasting critical transitions in ecosystems and detecting evolutionary shifts from comparative phylogenetic data.
                    </div>
                </div>
            </div>

        </div>

           <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/jenny_bryan.jpg);"><img src="/assets/common-files/img/people/jenny_bryan.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Jenny Bryan</div>
                       Jennifer Bryan is an Associate Professor in the Statistics Department and the Michael Smith Laboratories at the University of British Columbia in Vancouver. She's a biostatistician specialized in genomics and takes a special interest and delight in data analysis and statistical computing. 
                    </div>
                </div> 
            </div> <!-- end first person second row. -->
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/rich_fitzjohn.jpg);"><img src="/assets/common-files/img/people/rich_fitzjohn.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Rich FitzJohn</div>
                       Rich FitzJohn Blurb.
                    </div>
                </div> 
            </div> <!-- end first person second row. -->


            <div class="project-wrapper">
                <div class="project">
              <!--       <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/first_last.jpg);"><img src="/assets/common-files/img/people/first_last.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div> -->
                    <div class="info">
                        <!-- <div class="name">First Last</div>
                       blurb->
                    </div>
                </div> 
            </div> <!-- end first person second row. -->




        </div>
</section>

    </div>
    <!--/.container-->
<section class="crew-3  col-sm-8" id="advisors">
    <div class="row">
          <div class="container">
        <hr>

        <h3>Advisory Board</h3>

        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/hadley_wickham.png);"><img src="/assets/common-files/img/people/hadley_wickham.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Hadley Wickham</div>
                       <a href="http://had.co.nz/" title="had.co.nz">Hadley</a> is the chief scientist at <a href="https://www.rstudio.com/" title="RStudio - Home">RStudio</a>. Hadley is also the author of numerous R visualization tools such as dplyr, devtools, httr, and ggplot2 among numerous others.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/mackenzie_smith.jpg);"><img src="/assets/common-files/img/people/mackenzie_smith.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Mackenzie Smith</div>
                        Mackenize is the university librarian for UC Davis and specializes in information technology and digital knowledge management. Mackenzie is also a former Creative Commons Fellow and digital librarian at MIT.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/duncan.jpg);"><img src="/assets/common-files/img/people/duncan.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Duncan Temple Lang</div>
                     <a href="http://www.stat.ucdavis.edu/~duncan/" title="Duncan Temple Lang, U.C. Davis, Dept. of Statistics">Duncan</a> is an Associate Professor at the Department of Statistics at the University of California, Davis. He is one of the developers of R.
                    </div>
                </div>
            </div>

        </div>
           <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/nico_cellinese.jpg);"><img src="/assets/common-files/img/people/nico_cellinese.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Nico Cellinese</div>
                        <a href="http://www.flmnh.ufl.edu/about-us/people/spotlight/cellinese/" title="Nico Cellinese :: Florida Museum of Natural History">Nico</a> is an Associate Curator of Botany and Informatics at the Florida Museum of Natural History, University of Florida, and Joint Associate Professor in the Department of Biology. Her research focuses on the evolution of flowering plants, biodiversity informatics & phyloinformatics.
                    </div>
                </div>
            </div>

    <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/matt_jones.png);"><img src="/assets/common-files/img/people/matt_jones.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Matt Jones</div>
                        <a href="https://www.nceas.ucsb.edu/~jones/" title="Matt Jones's Home Page">Matt</a> is the director of Informatics Research and Development at National Center for Ecological Analysis and Synthesis. Matt leads the CyberInfrastructure team at DataONE.
                    </div>
                </div>
            </div>

    <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/jj_allaire.png);"><img src="/assets/common-files/img/people/jj_allaire.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">JJ Allaire</div>
                       JJ is an Internet technology entrepreneur and the creator of the web development tool ColdFusion. JJ now created and works on Rstudio, a web-based integrated development environment for R.
                    </div>
                </div>
            </div>



        </div>


    </div>
        </div>
</section>
<section class="crew-3  col-sm-8" id="alumni">
    <div class="row">
          <div class="container">
        <hr>

        <h3>rOpenSci Alumnus</h3>

                   <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/ted_hart.jpg);"><img src="/assets/common-files/img/people/ted_hart.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ted Hart</div>
                       Ted was a member of rOpenSci's core team (precursor to the leadership team) from fall 2012 to fall 2014. <a href="http://emhart.info/" title="Edmund Hart">Ted</a> is a quantitative ecologist at the National Ecological Observatory Network (NEON). He's interested in aquatic food webs, the intersection of ecology and evolution, and network theory. Specifically interested in how computational tools can be used to address these topics in novel ways
                    </div>
                </div> 
            </div> <!-- end first person second row. -->
            <div class="project-wrapper">
                <div class="project">
                    <!-- <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/first_last.jpg);"><img src="/assets/common-files/img/people/first_last.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div> -->
                    <div class="info">
                       <!--  <div class="name">First Last</div>
                        -->
                    </div>
                </div> 
            </div> <!-- end second person second row. -->


            <div class="project-wrapper">
                <div class="project">
              <!--       <div class="photo-wrapper">
                         <div class="photo" style="background-image: url(/assets/common-files/img/people/first_last.jpg);"><img src="/assets/common-files/img/people/first_last.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div> -->
                    <div class="info">
                        <!-- <div class="name">First Last</div>
                        -->
                    </div>
                </div> 
            </div> <!-- end third person second row. -->




        </div>


    </div>
        </div>
</section>
    


    </div>

</section>

{% include footer.html %}
