---
layout: dummy_page
title: "Donate to rOpenSci"
---
{% include header.html %}
<section class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

  <h2>Donate to rOpenSci</h2>
   <p>
    Under a <a href="http://ropensci.org/blog/2014/10/01/numfocus-partnership/">fiscal sponsorship agreement</a> with the <a href="http://numfocus.org/" title="NumFOCUS Foundation -">NumFocus foundation</a>, a 501(c)3 nonprofit, we are now able to accept donations from individuals, institutions, and corporations to support our activities. Contributions from US based individuals and organizations are tax deductible.<br>

    <br>If you would like to support our activities, we are now able to accept contributions in a variety of forms including FlipCause and <a href="https://bitpay.com/invoice?id=HvFM4eRTTscFKzuwK9Pqth" title="NumFOCUS, Inc: BitPay Invoice">BitCoin</a>.
   </p>

    
    <center><h1><a  href="https://www.flipcause.com/widget/give_now/MjI2MQ==">Donate online now</a></h1></center>


<p>
Checks can also be made out to NumFOCUS (<u><i>add <b>rOpenSci</b> in the memo line</i></u>):<br><br><br>


  NumFOCUS<br>
  P.O. Box 90596<br>
  Austin, TX 78709<br>
  USA<br>
  <br><br>

   <center><img src="http://ropensci.org/assets/common-files/img/projects/NumFocus_2C_RGB.png" height="200"></center>






<div class="row">
    <div class="row row-offcanvas row-offcanvas-left">


      <div class="col-sm-9">


      </div>

</div>
  </div>

</section>
{% include footer.html %}
