---
layout: dummy_page
title: "rOpenSci - Related Packages"
---
{% include header.html %}
<section class="post">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

  <h2>Donate to rOpenSci</h2>
   <p>
    Under a <a href="http://ropensci.org/blog/2014/10/01/numfocus-partnership/">fiscal sponsorship agreement</a> with the <a href="http://numfocus.org/" title="NumFOCUS Foundation -">NumFocus foundation</a>, a 501(c)3 nonprofit, we are now able to accept donations from individuals, institutions, and corporations to support our activities. Contributions from US based individuals and organizations are tax deductible.<br>

    <br>If you would like to support our activities, we are now able to accept contributions in a variety of forms including PayPal, <a href="https://bitpay.com/invoice?id=HvFM4eRTTscFKzuwK9Pqth" title="NumFOCUS, Inc: BitPay Invoice">BitCoin</a>, or checks made out to NumFOCUS (<u><i>add <b>rOpenSci</b> in the memo line</i></u>):<br><br><br>


  NumFOCUS<br>
  P.O. Box 90596<br>
  Austin, TX 78709<br>
  USA<br>
   </p>



<div class="row">
    <div class="row row-offcanvas row-offcanvas-left">


      <div class="col-sm-9">


      </div>

</div>
  </div>

</section>
{% include footer.html %}
