---
layout: dummy_page
title: "rOpenSci use cases"
---

{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
            <h3>Use cases</h3>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            </div>
        </div>
    </div>

</section>
{% include footer.html %}

<!-- <header class="jumbotron subhead" id="overview">
  <h1><i class="ss-icon" style="color:#ebeef6;">&#xEB85;</i> Use Cases</h1>
  <p class="lead">A gallery of use cases for rOpenSci and related packages based on real problems from scientists.</p>
</header>

<div class="row">
   <br>
  <div class="span12 offset1">
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="rbison.html"><img src="../assets/img/usecases/rbison.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="rbison.html">Macroecology - testing the species-abundance distribution</a></p>
        </div>
      </div>
    </li>
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="rgbif_nichemodel.html"><img src="../assets/img/usecases/rgbif_nichemodel.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="rgbif_nichemodel.html">Ecological niche modelling (aka species distribution modelling)</a></p>
        </div>
      </div>
    </li>
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="rgbif_biodivcomp.html"><img src="../assets/img/usecases/rgbif_biodivcomp.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="rgbif_biodivcomp.html">Biodiversity comparisons across cities</a></p>
        </div>
      </div>
    </li>
   </div>
</div>


<div class="row">
   <br>
  <div class="span12 offset1">
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="rvertnet.html"><img src="../assets/img/usecases/rvertnet.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="rvertnet.html">Plot species occurrence data from VertNet.org</a></p>
        </div>
      </div>
    </li>
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="taxize_listtomap.html"><img src="../assets/img/usecases/taxize_listtomap.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="taxize_listtomap.html">From a species list to cleaning names to a map of their occurrences</a></p>
        </div>
      </div>
    </li>
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="taxize_makephylo.html"><img src="../assets/img/usecases/taxize_makephylo.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="taxize_makephylo.html">Make a phylogeny from species names alone</a></p>
        </div>
      </div>
    </li>
   </div>
</div>

<div class="row">
   <br>
  <div class="span12 offset1">
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="rwbclimate_intro.html"><img src="../assets/img/usecases/rwbclimate_intro3.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="rwbclimate_intro.html">Intro to working with World Bank climate data in R</a></p>
        </div>
      </div>
    </li>
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="rgbif_gistmap.html"><img src="../assets/img/usecases/rgbifgistmap_sshot.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="rgbif_gistmap.html">Easily make an interactive map on the web from R</a></p>
        </div>
      </div>
    </li>
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="taxize_matchdfs.html"><img src="../assets/img/usecases/taxize_matchdfs.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="taxize_matchdfs.html">Match tables with different taxon names</a></p>
        </div>
      </div>
    </li>
   </div>
</div>


<div class="row">
   <br>
  <div class="span12 offset1">
    <li class="span3 nobullet">
      <div class="thumbnail" height="100px">
        <a href="taxize_invasivephylo.html"><img src="../assets/img/usecases/taxize_invasivephylo_tree.png" alt=""></a>
        <div class="caption" align="center">
          <p><a href="taxize_invasivephylo.html">Examine invasiveness on a phylogenetic tree</a></p>
        </div>
      </div>
    </li>
  </div>
</div> -->
