---
layout: dummy_page
title: "rOpenSci Events"
---
{% include header_with_chat.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
           <img src="../assets/common-files/img/content/blog_header_logo.png" alt="">
            <h3>Fall 2014 Events</h3>
        </div>

        <!-- Literature Packages -->
<section id="data-viz">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Details</th>
        <th>Location</th>

      </tr>
    </thead>
    <tbody>
        <tr>
        <td><strike><a href="http://nceas.github.io/open-science-codefest/" title="Open Science Codefest 2014">Open Science Codefest</a></strike></td>
        <td><strike>Sep 2-4, 2014</strike></td>
        <td><strike>We're co-organizers of the event, and we'll working on projects at the event.  <br><br>(Scott Chamberlain, Ted Hart)</strike></td>
        <td><strike>Santa Barbara, CA</strike></td>
        </tr>

        <tr>
        <td><a href="http://blog.opentreeoflife.org/2014/06/11/apply-for-tree-for-all-a-hackathon-to-access-opentree-resources/" title= "Tree-for-all: a hackathon to access OpenTree resources">Open Tree of Life Hackathon</a></td>
        <td>Sep 15-19, 2014</td>
        <td>David and Alex will be hacking on a package that allows users to interact with the Open Tree data<br><br>(David Winter, Alex Harkess)</td>
        <td>Ann Arbor, MI</td>
        </tr>

        <tr>
        <td>rOpenSci Workshop and Seminar</td>
        <td>Sep 26th, 2014</td>
        <td>rOpenSci workshop and seminar at the <a href="http://iob.uga.edu/">University of Georgia, Institute of Bioinformatics</a> - <a href="http://iob.uga.edu/event/bioinformatics-seminar-13/">more info</a> <br><br>(Scott Chamberlain)</td>
        <td>Athens, GA</td>
        </tr>
         <tr>
        <td>rOpenSci Seminar</td>
        <td>Nov 7, 2014</td>
        <td>rOpenSci Seminar in the <a href="http://www.stat.sfu.ca/">Depatment of Statistics and Acturial Sciences at SFU</a> - <a href="https://www.stat.sfu.ca/research/seminars.html">more info</a> <br><br>(Scott Chamberlain)</td>
        <td>Vancouver, Canada</td>
        </tr>
        <tr>
        <td><a href="http://2014.mozillafestival.org/" title="Mozilla Festival">Mozilla Festival</a></td>
        <td>Oct 24, 2014</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Karthik Ram)</td>
        <td>London, UK</td>
        </tr>

         <tr>
        <td><a href="http://wssspe.researchcomputing.org.uk/wssspe2/" title="2nd Workshop on Sustainable Software for Science: Practice and Experiences (WSSSPE2) | Working towards Sustainable Software for Science: Practice and Experiences">Workshop on Sustainable Software Practices</a></td>
        <td>Nov 16, 2014</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Carl Boettiger, Karthik Ram)</td>
        <td>New Orleans, LA</td>
        </tr>
        <tr>
        <td><a href="http://fallmeeting.agu.org/2014/" title="2014 AGU Fall Meeting">American Geophysical Union</a></td>
        <td>Dec 15-19, 2014</td>
        <td>Talk: <b>Building software, building community: lessons from the ROpenSci project, two organized sessions on open science.</b> <br><br> (Carl Boettiger, Karthik Ram)</td>
        <td>San Francisco, CA</td>
        </tr>
      </tbody>
  </table>


           <div class="title">
            <h3>Winter 2015 Events</h3>
        </div>


        <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Details</th>
        <th>Location</th>

      </tr>
    </thead>
    <tbody>
         <tr>
        <td>rOpenSci Europe Hackathon</td>
        <td>January/February 2015</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Karthik Ram, Scott Chamberlain)</td>
        <td>London, UK</td>
        </tr>

         <tr>
        <td><a href="http://www.epibiostat.ucsf.edu/biostat/events.html">Seminar at UCSF Biostatistics</a></td>
        <td>March 18th, 2015</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Karthik Ram)</td>
        <td>San Francisco, CA</td>
        </tr>
      </tbody>
  </table>
  <p>If you're keen on organizing or hosting a rOpenSci related event, or collaborating on a workshop/session at a conference, please <a href="http://ropensci.org/contact.html" title="rOpenSci - Contact">get in touch.</a></p>
</div>   </div>
</section>
      </div>
  </section>
{% include footer.html %}
