---
layout: dummy_page
title: "rOpenSci Events"
---
{% include header_with_chat.html %}
<section class="blog-3">
    <div class="container">
<section id="data-viz">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 table-responsive">



           <div class="title">
            <h3>Winter 2015 Events</h3>
        </div>


        <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Details</th>
        <th>Location</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Code4Lib Conference</td>
        <td>February 9-12 2015</td>
        <td><a href="http://code4lib.org/conference/2015/" title="code4lib2015">Code4Lib 2015</a>. <br><br> (Scott Chamberlain)</td>
        <td>Portland, OR</td>
        </tr>
      <tr>
      <tr>
        <td>Graphical Resources for Infectious Disease Epidemiology in R</td>
        <td>February 10-14 2015</td>
        <td><a href="https://sites.google.com/site/hackout2/" title="Hackout 2: GRINDER">Infectious disease data viz hackathon</a>. <br><br> (Karthik Ram)</td>
        <td>London, UK</td>
        </tr>
      <tr>
        <td>rOpenSci workshop in Seville</td>
        <td>February 16-17 2015</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Karthik Ram, Romain Francois)</td>
        <td>Seville, Spain</td>
      </tr>
      <tr>
        <td>rOpenSci Europe Hackathon</td>
        <td>TBD 2015</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Karthik Ram, Scott Chamberlain)</td>
        <td>London, UK</td>
        </tr>

         <tr>
        <td><a href="http://www.epibiostat.ucsf.edu/biostat/events.html">Seminar at UCSF Biostatistics</a></td>
        <td>March 18th, 2015</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Karthik Ram)</td>
        <td>San Francisco, CA</td>
        </tr>

          <tr>
        <td>rOpenSci SF hackathon</td>
        <td>Last weekend in March 2015</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Leadership team + guests)</td>
        <td>San Francisco, CA</td>
        </tr>

           <tr>
        <td>rOpenSci Australia Hackathon</td>
        <td>TBD 2015</td>
        <td>Details forthcoming <!-- <br> Link to event details --><br><br> (Rich FitzJohn, Karthik Ram, Scott Chamberlain)</td>
        <td>Sydney, Australia</td>
        </tr>


      </tbody>
  </table>
  <p>If you're keen on organizing or hosting a rOpenSci related event, or collaborating on a workshop/session at a conference, please <a href="http://ropensci.org/contact.html" title="rOpenSci - Contact">get in touch.</a>. For past events, see the <a href="events-archive.html">events archive.</a></p>
</div>   </div>
</section>
      </div>
  </section>
{% include footer.html %}
