---
layout: dummy_page
title: "rOpenSci Events"
---
{% include header_with_chat.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
           <img src="../assets/common-files/img/content/blog_header_logo.png" alt="">
            <h3>Upcoming Events</h3>
        </div>
      
        <!-- Literature Packages -->
<section id="data-viz">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event</th>
        <th>Details</th>
        <th>Location</th>

      </tr>
    </thead>
    <tbody>
        <tr>
        <td><a href="http://nceas.github.io/open-science-codefest/" title="Open Science Codefest 2014">Open Science Codefest</a></td>
        <td>Details about the workshop. <br> Link to event details<br><br>(Scott Chamberlain, Ted Hart)</td>
        <td>Santa Barbara, CA</td>
        </tr>
      <tr>
        <td>rOpenSci Workshop</td>
        <td>Details about the workshop. <br> Link to event details<br><br>(Scott Chamberlain)</td>
        <td>Vancouver, BC. Canada</td>
        </tr>
         <tr>
        <td>rOpenSci Workshop</td>
        <td>Details about the workshop. <br> Link to event details<br><br>(Scott Chamberlain)</td>
        <td>Athens, GA</td>
        </tr>
         <tr>
        <td><a href="http://wssspe.researchcomputing.org.uk/wssspe2/" title="2nd Workshop on Sustainable Software for Science: Practice and Experiences (WSSSPE2) | Working towards Sustainable Software for Science: Practice and Experiences">Workshop on Sustainable Software Practices</a></td>
        <td>Details about the workshop. <br> Link to event details<br><br> (Carl Boettiger, Karthik Ram)</td>
        <td>New Orleans, LA</td>
        </tr>
         <tr>
        <td><a href="http://2014.mozillafestival.org/" title="Mozilla Festival">Mozilla Festival</a></td>
        <td>Details about the workshop. <br> Link to event details<br><br> (Karthik Ram)</td>
        <td>London, UK</td>
        </tr>
  
    
    </tbody>
  </table>
</div>   </div>
</section>
      </div>
  </section>    
{% include footer.html %}