---
layout: dummy_page
title: "rOpenSci Community"
---
{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
            <img src="{{ site.url }}/assets/common-files/img/content/blog_header_logo.png" alt="">
            <h3>Community</h3>
        </div>

            <div class="row"><div class="col-sm-8 col-sm-offset-2">
        <p>rOpenSci is entirely a <a href="#community" title="rOpenSci community">community driven effort</a>. The project originally came together from conversations between like-minded researchers and continues to expand as more people contribute tools, expertise, and research ideas. We are now a fast growing global community of researchers, students, software developers, and various others working towards improving the world of science. <a href="{{ site.url}}/contact.html" title="rOpenSci Contact">We welcome you</a> to join us and help improve tools and practices available to researchers.</p>
    </div> </div>


</div>
<div class="full_fig"><img  src="http://i.imgur.com/lkZhHlc.jpg"></div>
    <div class="container">
        <div class="row">
<section id="join-us">
            <div class="col-sm-8 col-sm-offset-2">
 

        <h3>How to join our community</h3>

       <p>If there is <a href="https://github.com/ropensci" title="rOpenSci · GitHub">any project</a> that excites you, please feel free to offer suggestions for improvement, new use cases, or fork a copy and send a pull request. We welcome new collaborators on any of our existing efforts.</p>

        <p>If you have an idea for a new package (this could be a new data source, a new tool to improve reproducibility, or something we haven't thought of yet), and maybe you would even like to learn how to develop one with our help, <a href="{{ site.url}}/contact.html" title="rOpenSci Contact"> drop us a note</a>. We would love to hear from you.</p>

        <p>Are you already the author of an R package and think it fits well here? Write us a note telling us you why and we'll get back to you very quickly. Once we accept it, you'll still continue developing the software but with the added benefit of our expertise, code review, and ideas. We'll bring greater visibility to your project and help promote your efforts while exploring connections with other tools in our suite. </p>

        <p>We are always looking for reports, use cases, and stories from our users. If you'd like to write a package tutorial or guest blog post, we would love to post in on our website and share it with other researchers.</p>

        <p>If you already use and love any of our packages, we encourage you to give a talk or workshop at your institution. We can provide you with slides, notes, and possibly even some funds for refreshments and travel to help with your outreach efforts. <a href="{{ site.url}}/contact.html" title="rOpenSci Contact">Ask us about what support we can offer.</a></p>

        <p>If you're not quite ready to join us yet, you can follow our progress on <a href="https://twitter.com/ropensci" title="rOpenSci (rOpenSci) on Twitter">Twitter</a>, by watching any of our <a href="https://github.com/ropensci" title="rOpenSci · GitHub">repositories</a> or by attending <a href="events.html">community events</a> near you.</p>
            </div>
</section>
        </div>
    </div>
</section>
<!-- Add co-devs here -->
<div class="row">
     <div class="container">   
<section class="crew-3  col-sm-8" id="community"> 
    <div class="row">
          <div class="container">
        <hr>         

        <h3>Meet our community</h3>

        
        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/simon_goring.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Simon Goring</div>
                       Simon is a postdoc at the University of Wisconsin, working on paleo-ecology. Simon maintains <a href="https://github.com/ropensci/neotoma">neotoma</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/david_winter.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">David Winter</div>
                        David is a recent PhD grad from University of Otago, working on evolutionary genetics. David maintains <a href="https://github.com/ropensci/rentrez">rentrez</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/lee_marsh.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Lee Marsh</div>
                     Lee is a developer at the US National Phenology Network. Lee contributes to <a href="https://github.com/ropensci/rnpn">rnpn</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->

        
        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/sara_varela.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Sara Varela</div>
                       Sara is a biologist at the Department of Ecology of the Charles University in Prague. Sara maintains <a href="https://github.com/ropensci/pbdb">pbdb</a> with Javier
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/vijay_barve.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Vijay Brave</div>
                        Vijay is a graduate student at University of Kansas. Vijay contributes to <a href="https://github.com/ropensci/rgbif">rgbif</a> and <a href="https://github.com/ropensci/rvertnet">rvertnet</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/rafael_maia.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Rafael Maia</div>
                     Rafael is a graduate student at University of Akron, working on development and evolution of iridescent colors in feathers. Rafael maintains <a href="https://github.com/ropensci/rebird">rebird</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->

        
        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/ramnath.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ramnath Vaidyanathan</div>
                       Ramnath is a professor of Operations Management at McGill University in Montreal. Ramnath maintains <a href="https://github.com/ramnathv/rMaps">rMaps</a>
                    </div>
                </div>
            </div>

             <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/banbury.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Barb Banbury</div>
                     Barb is a postdoc. Barb contributes to <a href="https://github.com/ropensci/reol">reol</a> with Brian O'Meara
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/thomas_leeper.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Thomas Leeper</div>
                     Thomas is a Post-Doctoral Researcher in the Institut for Statskundskab at Aarhus University in Aarhus, Denmark. He is the developer of the <a href="https://github.com/ropensci/dvn">dvn package</a>.
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->

        
        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/ed_szocs.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ed Szöcs</div>
                       Ed is a graduate student at University Koblenz-Landau, working on ecotoxicology. Ed contributes to <a href="https://github.com/ropensci/taxize_">taxize</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/toby.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Toby Hocking</div>
                       Toby contributes to <a href="https://github.com/ropensci/plotly">plotly</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/javier_gonzalez.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Javier Gonzalez</div>
                        Javier works is a freelance web developer. Javier maintains <a href="https://github.com/ropensci/pbdb">pbdb</a> with Sara
                    </div>
                </div>
            </div>


        </div>
        <!-- end three people -->

        
        <!-- Begin three people -->
        <div class="projects">
            
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/najko_jahn.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Nanko Jahn</div>
                     Najko works at the Bielefeld University Library. Najko maintains <a href="https://github.com/ropensci/rebi">rebi</a>
                    </div>
                </div>
            </div>

             <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/david_springate.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">David Springate</div>
                       David is a postdoc at University of Manchester, working on questions around large-scale electronic medical records databases. David maintains <a href="https://github.com/ropensci/rpubmed">rpubmed</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/stefan.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Stefan Widgren</div>
                        Stefan Veterinary epidemiologist at the Swedish Zoonosis Centre, National Veterinary Institute in Uppsala. He develops <a href="https://github.com/ropensci/git2r">git2r</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->

        
        <!-- Begin three people -->
        <div class="projects">
           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/pfaff.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Class Thido-Pfaff</div>
                        Claas-Thido is a doctoral student at the new iDiv (Integrative Biodiversity Research) project in Leipzig. He maintains <a href="https://github.com/ropensci/rbefdata">rbefdata</a> and contributes to EML.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/brian.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Brian O' Meara</div>
                       Brian is a professor of ecology at University of Tennessee. He contributes to <a href="https://github.com/ropensci/reol">reol</a> with Barb
                    </div>
                </div>
            </div>  


            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/hilary_parker.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Hilary Parker</div>
                       Hilary is a data analyst at Etsy. She contributes to <a href="https://github.com/ropensci/testdat">testdat</a>.
                    </div>
                </div>
            </div>  

        </div>
        <!-- end three people -->

        <!-- Begin three people -->
        <div class="projects">
           

           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/alyssa_frazee.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Alyssa Frazee</div>
                        Alyssa is a biostatistics PhD student at Johns Hopkins University working on computational biology problems involving lots of RNA-seq data. She contributes to <a href="https://github.com/ropensci/testdat">testdat</a>.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/ciera_martinez.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ciera Martinez</div>
                       Ciera is a PhD candidate studying Plant Biology. She's leading an effort to create a <a href="http://ropensci.github.io/reproducibility-guide/">science reproducibility guide</a> (<a href="https://github.com/ropensci/reproducibility-guide">code</a>).
                    </div>
                </div>
            </div>  

            
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/martin_fenner.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Martin Fenner</div>
                       Martin is a developer with the Public Library of Science (PLOS). He is making an <a href="https://github.com/ropensci/docs">rOpenSci cookbook</a>, a Ruby gem to wrap <code>knitr</code> called <a href="">knitr-ruby</a> and a Jekyll plugin for knitr called <a href="https://github.com/ropensci/jekyll-knitr">jekyll-knitr</a>.
                    </div>
                </div>
            </div>  

        </div>
        <!-- end three people -->

         <!-- Begin three people -->
        <div class="projects">
           

           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/gavin_simpson.jpg" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Gavin Simpson</div>
                        Gavin is a Research Scientist at the University of Regina, leads the developement of <a href="https://github.com/ropensci/dependencies">dependencies</a>, and contributes to the <a href="https://github.com/ropensci/docs">rOpenSci cookbook</a>.
                    </div>
                </div>
            </div>

           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/plus_one.png" alt=""></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">You?</div>
                       <a href="{{ site.url}}/contact.html" title="rOpenSci Contact">Drop us a note if you'd like to join us.</a>
                    </div>
                </div>
            </div>  


        </div>
        <!-- end three people -->

    </div> 
        </div>  
</section> 
</div>
</div> <!-- end row for co-devs -->
<!-- End co-devs here -->

  {% include footer.html %}
