---
layout: dummy_page
title: "rOpenSci Community"
---
{% include header.html %}
<section class="blog-3">
    <div class="container">
        <div class="title">
            <img src="{{ site.url }}/assets/common-files/img/content/blog_header_logo.png" alt="">
            <h3>Community</h3>
        </div>

            <div class="row"><div class="col-sm-8 col-sm-offset-2">
        <p>rOpenSci is entirely a <a href="#community" title="rOpenSci community">community driven effort</a>. The project originally came together from conversations between like-minded researchers and continues to expand as more people contribute tools, expertise, and research ideas. We are now a fast growing global community of researchers, students, software developers, and various others working towards improving the world of science. <a href="{{ site.url}}/contact.html" title="rOpenSci Contact">We welcome you</a> to join us and help improve tools and practices available to researchers.</p>
    </div> </div>


</div>
<div class="full_fig"><img  src="https://i.imgur.com/lkZhHlc.jpg"></div>
    <div class="container">
        <div class="row">
<section id="join-us">
            <div class="col-sm-8 col-sm-offset-2">


        <h3>How to join our community</h3>

       <p>If there is <a href="https://github.com/ropensci" title="rOpenSci · GitHub">any project</a> that excites you, please feel free to offer suggestions for improvement, new use cases, or fork a copy and send a pull request (We have a <a href="//status.ropensci.org/" title="rOpenSci package status page">package status dashboard</a> sortable by activity, milestones and open issues). We welcome new collaborators on any of our existing efforts. We suggest you start with a post to our <a href="//discuss.ropensci.org/" title="rOpenSci Discuss">discussion forum</a>.</p>

        <h3>Contribute code</h3>

        <p>If you are the author of an R package, consider submitting the package to be included in our suite. More instructions are available on our <a href="https://github.com/ropensci/onboarding#-ropensci-onboarding-" title="Submit a package to the rOpenSci suite">onboarding repository</a>. If you would like to learn how to develop a package to solve a problem with our help, <a href="{{ site.url}}/contact.html" title="rOpenSci Contact"> drop us a note</a>. We would love to hear from you. Once we accept it, you'll still continue developing the software but with the added benefit of our expertise, code review, and ideas. We'll bring greater visibility to your project and help promote your efforts while exploring connections with other tools in our suite. </p>

        <h3>Contribute ideas</h3>
        <p>If have an idea for a new one (this could be a new data source, a new tool to improve reproducibility, or something we haven't thought of yet) submit the idea to our <a href="http://github.com/ropensci/wishlist">wishlist</a>. You can request help, collaborators, or simply suggest an idea for someone else to pick up.</p>

        <h3>Contribute user reports</h3>
        <p>We are always looking for reports, use cases, and stories from our users. If you'd like to write a package tutorial or guest blog post, we would love to post in on our website and share it with other researchers.</p>

        <h3>Speak about the project</h3>
        <p>If you already use and love any of our packages, we encourage you to give a talk or workshop at your institution. We can provide you with slides, notes, and possibly even some funds for refreshments and travel to help with your outreach efforts. <a href="{{ site.url}}/ambassadors/">Find out more about our ambassador program.</a></p>

        <h3>Join our calls and events</h3>
        <p>We now hold community calls open to everyone once every six weeks. Join us for one of these hour long video calls to hear about new projects, Q&As with well known developers, and to learn more about rOpenSci developments. <a href="https://github.com/ropensci/commcalls/issues?q=is%3Aissue+" title="rOpenSci community calls">View videos from past calls or find out about the next one</a>.</p>

        <p>If you're not quite ready to join us yet, you can follow our progress on <a href="https://twitter.com/ropensci" title="rOpenSci (rOpenSci) on Twitter">Twitter</a>, by watching any of our <a href="https://github.com/ropensci" title="rOpenSci · GitHub">repositories</a> or by attending <a href="events.html">community events</a> near you.</p>
            </div>
</section>


        </div>
    </div>
<!-- </section> -->
<!-- Add co-devs here -->
<div class="row">
     <div class="container">
<section class="crew-3  col-sm-8" id="community">
    <div class="row">
          <div class="container">
        <hr>

        <h3>Meet our community</h3>


        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/simon_goring.png" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/simon_goring.png);"><img src="{{ site.url }}/assets/common-files/img/community/simon_goring.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Simon Goring</div>
                       Simon is a postdoc at the University of Wisconsin, working on paleo-ecology. Simon maintains <a href="https://github.com/ropensci/neotoma">neotoma</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/david_winter.png" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/david_winter.png);"><img src="{{ site.url }}/assets/common-files/img/community/david_winter.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">David Winter</div>
                        David is a recent PhD grad from University of Otago, working on evolutionary genetics. David maintains <a href="https://github.com/ropensci/rentrez">rentrez</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/lee_marsh.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/lee_marsh.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/lee_marsh.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Lee Marsh</div>
                     Lee is a developer at the US National Phenology Network. Lee contributes to <a href="https://github.com/ropensci/rnpn">rnpn</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->


        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/sara_varela.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/sara_varela.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/sara_varela.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Sara Varela</div>
                       Sara is a biologist at the Department of Ecology of the Charles University in Prague. Sara maintains <a href="https://github.com/ropensci/paleobioDB">paleobioDB</a> and <a href="https://github.com/ropensci/rAvis">rAvis</a> with Javier.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/vijay_barve.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/vijay_barve.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/vijay_barve.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Vijay Brave</div>
                        Vijay is a graduate student at University of Kansas. Vijay contributes to <a href="https://github.com/ropensci/rgbif">rgbif</a> and <a href="https://github.com/ropensci/rvertnet">rvertnet</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/rafael_maia.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/rafael_maia.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/rafael_maia.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Rafael Maia</div>
                     Rafael is a graduate student at University of Akron, working on development and evolution of iridescent colors in feathers. Rafael maintains <a href="https://github.com/ropensci/rebird">rebird</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->


        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/ramnath.png" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/ramnath.png);"><img src="{{ site.url }}/assets/common-files/img/community/ramnath.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ramnath Vaidyanathan</div>
                       Ramnath is a professor of Operations Management at McGill University in Montreal. Ramnath maintains <a href="https://github.com/ramnathv/rMaps">rMaps</a>
                    </div>
                </div>
            </div>

             <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/banbury.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/banbury.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/banbury.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Barb Banbury</div>
                     Barb is a postdoc. Barb contributes to <a href="https://github.com/ropensci/reol">Reol</a> with Brian O'Meara
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/thomas_leeper.png" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/thomas_leeper.png);"><img src="{{ site.url }}/assets/common-files/img/community/thomas_leeper.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Thomas Leeper</div>
                     Thomas is an Assistant Professor in Political Behaviour in the Government Department at the London School of Economics and Political Science. Thomas maintains <a href="https://github.com/ropensci/dvn">dvn</a>, and is a core maintainer of the <a href="http://cran.r-project.org/web/views/WebTechnologies.html">WebTechnologies CRAN task view</a>.
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->


        <!-- Begin three people -->
        <div class="projects">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/ed_szocs.png" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/ed_szocs.png);"><img src="{{ site.url }}/assets/common-files/img/community/ed_szocs.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ed Szöcs</div>
                       Ed is a graduate student at University Koblenz-Landau, working on ecotoxicology. Ed contributes to <a href="https://github.com/ropensci/taxize">taxize</a> and maintains <a href="https://github.com/ropensci/webchem">webchem</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/toby.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/toby_hocking.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/toby_hocking.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Toby Hocking</div>
                       Toby was most recently a machine learning postdoc at the Tokyo Institute of Technology. He contributes to <a href="https://github.com/ropensci/plotly">plotly</a>
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/javier_gonzalez.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/javier_gonzalez.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/javier_gonzalez.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Javier Gonzalez</div>
                        Javier works is a freelance web developer. Javier maintains <a href="https://github.com/ropensci/paleobioDB">paleobioDB</a> and <a href="https://github.com/ropensci/rAvis">rAvis</a> with Sara.
                    </div>
                </div>
            </div>


        </div>
        <!-- end three people -->


        <!-- Begin three people -->
        <div class="projects">

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/najko_jahn.png" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/najko_jahn.png);"><img src="{{ site.url }}/assets/common-files/img/community/najko_jahn.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Nanko Jahn</div>
                     Najko works at the Bielefeld University Library. Najko maintains <a href="https://github.com/ropensci/rebi">rebi</a>
                    </div>
                </div>
            </div>

             <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/david_springate.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/david_springate.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/david_springate.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">David Springate</div>
                       David is a postdoc at University of Manchester, working on questions around large-scale electronic medical records. David maintains <a href="https://github.com/ropensci/rpubmed">rpubmed</a> in the new <a href="https://github.com/rOpenHealth">rOpenHealth</a> sister community.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/stefan.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/stefan.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/stefan.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Stefan Widgren</div>
                        Stefan Veterinary epidemiologist at the Swedish Zoonosis Centre, National Veterinary Institute in Uppsala. He develops <a href="https://github.com/ropensci/git2r">git2r</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->


        <!-- Begin three people -->
        <div class="projects">
           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/pfaff.png" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/pfaff.png);"><img src="{{ site.url }}/assets/common-files/img/community/pfaff.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Class Thido-Pfaff</div>
                        Claas-Thido is a doctoral student at the new iDiv (Integrative Biodiversity Research) project in Leipzig. He maintains <a href="https://github.com/ropensci/rbefdata">rbefdata</a> and contributes to EML.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/brian.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/brian.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/brian.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Brian O' Meara</div>
                       Brian is a professor of ecology at University of Tennessee. He contributes to <a href="https://github.com/ropensci/reol">Reol</a> with Barb
                    </div>
                </div>
            </div>


            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/hilary_parker.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/hilary_parker.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/hilary_parker.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Hilary Parker</div>
                       Hilary is a data analyst at Etsy, where she focuses on experiment-driven product development. Prior to Etsy, she got her PhD in Biostatistics from Johns Hopkins. In both of these roles she has been focused on reproducibility. She contributes to <a href="https://github.com/ropensci/testdat">testdat</a>.
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->

        <!-- Begin three people -->
        <div class="projects">


           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/alyssa_frazee.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/alyssa_frazee.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/alyssa_frazee.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Alyssa Frazee</div>
                        Alyssa is a biostatistics PhD student at Johns Hopkins University working on computational biology problems involving lots of RNA-seq data. She contributes to <a href="https://github.com/ropensci/testdat">testdat</a>.
                    </div>
                </div>
            </div>

            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/ciera_martinez.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/ciera_martinez.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/ciera_martinez.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ciera Martinez</div>
                       Ciera is a PhD candidate studying Plant Biology. She's leading an effort to create a <a href="http://ropensci.github.io/reproducibility-guide/">science reproducibility guide</a> (<a href="https://github.com/ropensci/reproducibility-guide">code</a>).
                    </div>
                </div>
            </div>


            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <!-- <div class="photo"><img src="{{ site.url }}/assets/common-files/img/community/martin_fenner.jpg" alt=""></div> -->
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/martin_fenner.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/martin_fenner.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Martin Fenner</div>
                       Martin is a developer with the Public Library of Science (PLOS). He is making an <a href="https://github.com/ropensci/docs">rOpenSci cookbook</a>, a Ruby gem to wrap <code>knitr</code> called <a href="">knitr-ruby</a> and a Jekyll plugin for knitr called <a href="https://github.com/ropensci/jekyll-knitr">jekyll-knitr</a>.
                    </div>
                </div>
            </div>

        </div>
        <!-- end three people -->

         <!-- Begin three people -->
        <div class="projects">


           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/gavin_simpson.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/gavin_simpson.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Gavin Simpson</div>
                        Gavin is a Research Scientist at the University of Regina, leads the development of <a href="https://github.com/ropensci/dependencies">dependencies</a>, and contributes to the <a href="https://github.com/ropensci/docs">rOpenSci cookbook</a>.
                    </div>
                </div>
            </div>

           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/ben_mawrick.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/ben_mawrick.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ben Marwick</div>
                        <a href="https://faculty.washington.edu/bmarwick/" title="Home &amp;middot; Ben Marwick">Ben</a> is an assistant professor of archaeology at the University of Washington and contributes to the <a href="http://ropensci.github.io/reproducibility-guide/">science reproducibility guide</a> (<a href="https://github.com/ropensci/reproducibility-guide">code</a>).
                    </div>
                </div>
            </div>

           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kate_crosby.png);"><img src="{{ site.url }}/assets/common-files/img/community/kate_crosby.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Kate Crosby</div>
                       Kate is a PhD candidate in plant ecological genetics and the data manager for Canadian Healthy Oceans. She contributes to <a href="https://github.com/ropensci/rOBIS" title="ropensci/rOBIS  GitHub">OBIS</a>.
                    </div>
                </div>
            </div>


        </div>
        <!-- end three people -->
         <!-- Begin three people -->
        <div class="projects">


          <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/barry_r.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/barry_r.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Barry Rowlingson</div>
                        Barry is a Research Fellow at Lancaster University, and a noisy member of the Open Source Geospatial Community. He likes mixing R, Python and QGIS. Barry maintains <a href="https://github.com/ropensci/geonames">geonames</a>.
                    </div>
                </div>
            </div>

           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/jeff_hollister.png);"><img src="{{ site.url }}/assets/common-files/img/community/jeff_hollister.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Jeff Hollister</div>
                        Jeff is a Research Ecologist with US EPA's Atlantic Ecology Division.  He is currently contributing to the <a href="http://ropensci.github.io/reproducibility-guide/">science reproducibility guide</a>.
                    </div>
                </div>
            </div>

           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/ethan_white.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/ethan_white.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Ethan White</div>
                       Ethan is an Associate Professor at Utah State University conducting research on data-intensive ecological questions. He maintains <a href="https://github.com/ropensci/ecoretriever">ecoretriever</a> with Dan McGlinn.
                    </div>
                </div>
            </div>


        </div>
        <!-- end three people -->


        <!-- Begin three people -->
        <div class="projects">


         <div class="project-wrapper">
               <div class="project">
                   <div class="photo-wrapper">
                       <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/thiago_souza.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/thiago_souza.jpg" alt="" style="display: none;"></div>
                       <div class="overlay"><span class="fui-eye"></span></div>
                   </div>
                   <div class="info">
                       <div class="name">Thiago Gonçalves-Souza</div>
                       Thiago is a postdoc at Universidade Estadual de Campinas. He translates rOpenSci web content to Portuguese along with Diogo.
                   </div>
               </div>
           </div>

          <div class="project-wrapper">
               <div class="project">
                   <div class="photo-wrapper">
                       <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/diogo_provete.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/diogo_provete.jpg" alt="" style="display: none;"></div>
                       <div class="overlay"><span class="fui-eye"></span></div>
                   </div>
                   <div class="info">
                       <div class="name">Diogo Provete</div>
                       Diogo is a PhD student at Federal University of Goiás. He translates rOpenSci web content to Portuguese along with Thiago.
                   </div>
               </div>
           </div>


        <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/luciano_s.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/luciano_s.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Luciano Sgarbi</div>
                        Luciano is a PhD student in Ecology and Evolution at Federal University of Goiás. Luciano contributes to the <a href="https://github.com/ropensci/paleobioDB" title="ropensci/paleobioDB  GitHub">paleobioDB</a> package.
                    </div>
                </div>
            </div>



        </div>
        <!-- end three people -->
         <!-- Begin three people -->
        <div class="projects">



           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/karl_broman.png);"><img src="{{ site.url }}/assets/common-files/img/community/karl_broman.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Karl Broman</div>
                        <a href="http://kbroman.org/" title="Karl Broman">Karl</a> is a Professor at the University of Wisconsin-Madison conducting research on statistical genomics. He maintains the <a href="https://github.com/ropensci/aRxiv" title="ropensci/aRxiv  GitHub">aRxiv</a> package, and contributes to <a href="https://github.com/ropensci/IEEER" title="ropensci/IEEER  GitHub">IEEER</a>.
                    </div>
                </div>
            </div>
            <div class="project-wrapper">
                 <div class="project">
                     <div class="photo-wrapper">
                         <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/alex_harkess.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/alex_harkess.jpg" alt="" style="display: none;"></div>
                         <div class="overlay"><span class="fui-eye"></span></div>
                     </div>
                     <div class="info">
                         <div class="name">Alex Harkess</div>
                         <a href="http://alexharkess.github.io/" title="Alex Harkess">Alex</a> is a Ph.D. student at the University of Georgia. He contributes to the <a href="https://github.com/ropensci/rglobi" title="ropensci/rglobi  GitHub">rglobi</a> package.
                     </div>
                 </div>
             </div>


            <div class="project-wrapper">
            <a href="#lincoln" name="lincoln"></a>
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/lincoln_mullen.png);"><img src="{{ site.url }}/assets/common-files/img/community/lincoln_mullen.png" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Lincoln Mullen</div>
                        Lincoln is an assistant professor of history at George Mason University. He maintains the <a href="https://github.com/ropensci/cartographer">cartographer</a>, <a href="https://github.com/ropensci/gender" title="ropensci/gender GitHub">gender</a>, <a href="https://github.com/ropensci/historydata">historydata</a>, <a href="https://github.com/ropensci/internetarchive">internetarchive</a>, <a href="https://github.com/ropensci/textreuse">textreuse</a>, and <a href="https://github.com/ropensci/usboundaries">USAboundaries</a> packages.
                    </div>
                </div>
            </div>


        </div>


        <!-- end three people -->

       <!-- Begin three people -->
        <div class="projects">
           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/hilmar_lapp.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/hilmar_lapp.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Hilmar Lapp</div>
                        <a href="http://lappland.io/" title="Hilmar Lapp">Hilmar</a> is the Director of Informatics at the <a href="http://www.genome.duke.edu/">Center for Genomic and Computational Biology (GCB), Duke University</a>. He contributes to the <a href="https://github.com/ropensci/RNeXML" title="ropensci/RNeXML GitHub">RNeXML</a> package.
                    </div>
                </div>
            </div>
            <div class="project-wrapper">
                 <div class="project">
                     <div class="photo-wrapper">
                         <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/rutger_vos.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/rutger_vos.jpg" alt="" style="display: none;"></div>
                         <div class="overlay"><span class="fui-eye"></span></div>
                     </div>
                     <div class="info">
                         <div class="name">Rutger Vos</div>
                         <a href="http://rutgervos.blogspot.com/" title="Rutger Vos">Rutger</a> is a computational biologist at <a href="http://www.naturalis.nl/nl/">Naturalis</a>. He contributes to the <a href="https://github.com/ropensci/RNeXML" title="ropensci/RNeXML GitHub">RNeXML</a> package.
                     </div>
                 </div>
             </div>
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/matt_pennell.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/matt_pennell.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                       <div class="name">Matt Pennell</div>
                       <a href="http://mwpennell.github.io/" title="Matt Pennell">Matt</a> is a PhD student at the Institute for Bioinformatics and Evolutionary Studies at the University of Idaho where he researches phylogenetics and comparative methods. Matt maintains <a href="https://github.com/ropensci/chromer">chromer</a>.
                    </div>
                </div>
            </div>
        </div>


        <!-- end three people -->


       <!-- Begin three people -->

        <div class="projects">
           <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/gabor_csardi.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/gabor_csardi.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Gabor Csardi</div>
                        <a href="http://gaborcsardi.org/" title="Gabor Csardi">Gabor</a> is a postdoctoral research associate at the <a href="http://statistics.fas.harvard.edu/">Department of Statistics, Harvard University</a>. He contributes to the <a href="https://github.com/ropensci/git2r" title="ropensci/git2r GitHub">git2r</a> package.
                    </div>
                </div>
            </div>
            <div class="project-wrapper">
                 <div class="project">
                     <div class="photo-wrapper">
                         <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/abaghan_ghahraman.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/abaghan_ghahraman.jpg" alt="" style="display: none;"></div>
                         <div class="overlay"><span class="fui-eye"></span></div>
                     </div>
                     <div class="info">
                         <div class="name">Abaghan Ghahraman</div>
                         <a href="http://cmc.uab.es/abaghan/pages/index.html" title="Abaghan Ghahraman">Abaghan</a> is a PhD Candidate at the <a href="http://www.uab.cat/economia-empresa/">Department of Business, Universitat Autònoma de Barcelona</a>. He maintains the <a href="https://github.com/ropensci/rGEM" title="ropensci/rGEM GitHub">rGEM</a> package.
                     </div>
                 </div>
             </div>
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/chris_ray.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/chris_ray.jpg" alt="" style="display: none;"></div>
                        <div class="overlay"><span class="fui-eye"></span></div>
                    </div>
                    <div class="info">
                        <div class="name">Chris Ray</div>
                        <a href="https://github.com/Pika8tona" title="Chris Ray">Chris</a> is a postdoc at the <a href="http://www.birdpop.org/">Institute for Bird Populations</a>, modeling point-count data. Chris contributes to the <a href="https://github.com/ropensci/rvertnet" title="ropensci/rvertnet GitHub">rvertnet</a> package.
                    </div>
                </div>
            </div>
        </div>


        <!-- end three people -->

    <!-- Begin three people -->
    <div class="projects">
        <div class="project-wrapper">
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/tad-dallas.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/tad-dallas.jpg" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Tad Dallas</div>
                   Tad is a graduate student in the University of Georgia's Odum School of Ecology. Tad maintains the <a href="https://github.com/ropensci/helminthR">helminthR</a> package.
                </div>
            </div>
        </div>
        <div class="project-wrapper">
            <a href="#oliver" name="oliver"></a>
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/oliver_keyes.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/oliver_keyes.jpg" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Oliver Keyes</div>
                    <a href="http://ironholds.org/" title="Oliver Keyes">Oliver</a> works at the Wikimedia Foundation. He contributes to the <a href="https://github.com/ropensci/wishlist">wishlist</a>
                </div>
            </div>
        </div>
        <div class="project-wrapper">
            <a href="#kyle" name="kyle"></a>
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/kyle_hamilton.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/kyle_hamilton.jpg" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Kyle Hamilton</div>
                   <a href="http://kylehamilton.com/" title="Kyle Hamilton">Kyle</a> is a PhD student in psychology at UC Merced. Kyle maintains the <a href="https://github.com/ropensci/RCryptsy/">RCryptsy</a> and <a href="https://github.com/ropensci/RStars">RStars</a> packages.
                </div>
            </div>
        </div>

    </div>
    <!-- end three people -->

    <!-- Begin three people -->
    <div class="projects">
        <div class="project-wrapper">
        <a href="#noam" name="noam"></a>
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/noam_ross.png);"><img src="{{ site.url }}/assets/common-files/img/community/noam_ross.png" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Noam Ross</div>
                   <a href="http://www.noamross.net/" title="Noam Ross">Noam</a> is a disease ecologist at <a href="http://www.ecohealthalliance.org/">EcoHealth Alliance</a>, where he studies dynamics and control of wildlife diseases. He serves on the <a href="https://github.com/ropensci/onboarding">ROpenSci review board</a>.
                </div>
            </div>
        </div>
        <div class="project-wrapper">
        <a href="#francois" name="francois"></a>
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/francois.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/francois.jpg" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Francois Michonneau</div>
                   <a href="http://francoismichonneau.net/" title="Francois Michonneau">Francois</a> is a postdoc at the Whitney Laboratory for Marine Bioscience at the University of Florida. Francois maintains the <a href="https://github.com/ropensci/rotl/">rotl</a> package.
                </div>
            </div>
        </div>
        <div class="project-wrapper">
        <a href="#franz" name="franz"></a>
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/franz.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/franz.jpg" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Franz Krah</div>
                   <a href="http://franzkrah.github.io/" title="Franz Krah">Franz</a> is a PhD student at the Technische Universität München in Germany. Franz maintains the <a href="https://github.com/ropensci/rusda/">rusda</a> package.
                </div>
            </div>
        </div>
    </div>
    <!-- end three people -->

    <!-- Begin three people -->
    <div class="projects">
        <div class="project-wrapper">
        <a href="#will" name="will"></a>
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/will_pearse.png);"><img src="{{ site.url }}/assets/common-files/img/community/will_pearse.png" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Will Pearse</div>
                   <a href="http://willpearse.com" title="Will Pearse">Will</a> is a post-doc at McGill University. Will contributes to the <a href="https://github.com/ropensci/fulltext" title="ropensci/fulltext GitHub">fulltext</a> package.
                </div>
            </div>
        </div>
        <div class="project-wrapper">
        <a href="#stefan" name="stefan"></a>
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/stefan_bache.jpg);"><img src="{{ site.url }}/assets/common-files/img/community/stefan_bache.jpg" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">Stefan Bache</div>
                   <a href="http://www.stefanbache.dk/" title="Stefan Bache">Stefan</a> is a Trading Analyst at Danske Commodities. Stefan contributes to the <a href="https://github.com/ropensci/jqr" title="ropensci/jqr GitHub">jqr</a> package.
                </div>
            </div>
        </div>
        <div class="project-wrapper">
            <div class="project">
                <div class="photo-wrapper">
                    <div class="photo" style="background-image: url({{ site.url }}/assets/common-files/img/community/plus_one.png);"><img src="{{ site.url }}/assets/common-files/img/community/plus_one.png" alt="" style="display: none;"></div>
                    <div class="overlay"><span class="fui-eye"></span></div>
                </div>
                <div class="info">
                    <div class="name">You?</div>
                   <a href="{{ site.url}}/contact.html" title="rOpenSci Contact">Drop us a note if you'd like to join us.</a>
                </div>
            </div>
        </div>

    </div>
    <!-- end three people -->


    </div>
        </div>
</section>
</div>
</div> <!-- end row for co-devs -->
<!-- End co-devs here -->

  {% include footer.html %}
