{% include header.html %}

<!-- <body> -->

<div class="span11">
<div class="row">

<br><br>
   
 <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.package_name}}&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30" align="right"></iframe>
 <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.package_name}}&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30" align="right"></iframe>

  <header class="jumbotron subhead" id="overview">
    <h1> <i class="ss-icon" style="color:#ebeef6;">&#x1F4D3;</i>  {{ page.package_name_show }} <small>v{{ page.packge_version }}</small> </h1>
  </header>
  
</div>
  <br><br>

  <div class"row"> <h2> <em> {{ page.header_descripton }} </em> </h2>

  <!-- <h3><i class="ss-icon" style="color:#ebeef6;">&#x2139;</i>&nbsp;&nbsp;This is the vignette in the {{ page.package_name_show }} package</h3> -->

  <br><br>

   <a href="https://github.com/ropensci/{{page.package_name}}/" style="color:#ffffff" target="_blank"> <button class="btn btn-success btn-large" style="display: block; width: 100%;"><i class="icon-white icon-download"></i>Download from GitHub</button></a>

  <hr class="soften">
  </div>

  <!-- <div class="row"> -->
   <!-- <div class="span3">
     <div class="span2 bs-docs-sidebar" data-spy="affix">
        {{ page.raw_content | toc:2 }}
     </div>
   </div> -->
  <div class="span11">

  {{ content }}

  </div>
   
   <br><br><br><br><br><br>
    <!-- </div> -->
  
  <!-- </div>
</div> -->

{% include disqus.html %}   
{% include footer.html %}

