
{% include header.html %}
<section class="blog-3">

    <div class="container">
        <div class="title">
            <h3>{{page.title}}</h3>
        </div>

        <div class="row">
            <div class="row row-offcanvas row-offcanvas-left">
  <div class="col-sm-3">
        <div class="col-xs-6 col-sm-6  sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="#installation">Installation</a></li>
              <li><a href="#usage">Using the package</a></li>
              <li><a href="#citing">Citing</a></li>
              <li><a href="#license_bugs">License and bugs</a></li>
            </ul>
        </div>
  </div>

  <div class="col-sm-9">
{{ content }}
  </div>
</div>

        </div>
    </div>   
</section>
<div id="disqus">
  {% include disqus.html %}
</div> 
 {% include footer.html %}
