 {% include header_with_chat.html %}   
<section class="blog-3">
    <div class="container">
        <div class="title">
            <img src="{{ site.url }}/assets/common-files/img/content/blog_header_logo.png" alt="">
            <h3>{{ page.title }}</h3>

            <div class="submitted">rOpenSci package: <a href="https://github.com/ropensci/{{ page.pkg }}">{{ page.pkg }}</a></div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {{ content }}
            </div>
        </div>
    </div>

</section>

<div class="container">
<div id="disqus">
  {% include disqus.html %}
</div>  
 </div> 
{% include footer.html %}